#content {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 95%;
}

#select-btn {
    display: inline-block;
    margin-bottom: 30px;
    background: #64b000;
    padding: 16px 40px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 3px;
    align-self: flex-start;
    color: white;
    transition: background 0.3s;
}

#select-btn:hover {
    background: #ffd03a;
}

#showSelect:checked~#select-btn {
    background: #ffd03a;
}

#showSelect:checked~#select-list {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s;
}

#showSelect {
    display: none;
}

#select-list {
    opacity: 0;
    pointer-events: none;
    position: relative;

}

#select-ul {
    position: absolute;
    z-index: 1;
    top: -30px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    margin: 0;
    background: #fff;
}

#select-ul li {
    opacity: 0.3;
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s;
}

#select-ul>li:hover {
    opacity: 1;
    border-left: 1px solid #ccc;
}

#middleLine {
    display: none;
}

#select-ul li:first-child {
    opacity: 1;
}

#select-ul .img {
    display: none;
    width: 27px;
    height: 30px;
    background-image: url(https://livedemo00.template-help.com/wt_prod-19186/images/sprite/icons.png);
}


#select-ul p {
    font-size: 12px;
    font-weight: 700;
    margin: 10px 5px 10px 0;
}

/* ******************** */
#indicator * {
    color: black;
    font-weight: 600;
}

#all {
    width: 100%;
    background: #2a2a2a;
    padding: 18px 25px;
}

#all span {
    color: white;
    font-weight: 600;
    margin-right: 5px;
}

#indicator .block {
    margin-top: 30px;
}

#indicator .top_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}

#indicator .top_title::after {
    content: "";
    width: 4px;
    height: 20px;
    background: #64b000;
    position: absolute;
    left: 0;
}

#indicator .left_title {
    /* display: inline-block; */
    padding: 0 20px;
    font-size: 18px;
}

#indicator .left_title span {
    font-weight: 700;
}

#indicator .top_title button {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 8px;
    font-weight: 700;
    border: 1px solid #ddd;
}

#indicator .top_title button:nth-child(2) {
    background-color: #ff4f2e;
    color: white;
}

#indicator .block .title {
    background: #616161;
    padding: 12px 25px;
}

#indicator .block .title span {
    color: white;
    font-size: 14px;
}

/*  */
.card {
    background: white;
    border-bottom: 1px solid #ddd;
}

.card .icon {
    width: 25px;
    height: 30px;
    background: url('https://livedemo00.template-help.com/wt_prod-19186/images/sprite/icons.png') 137px 0px;
}

ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-bottom: 20px;
}

li {
    text-align: center;
    margin: 15px 20px 0 20px;
}

.icon {
    margin: 0 auto;
}

i {
    font-size: 14px;
    color: #777;
}

#indicator #type .info>div {
    display: flex;
    justify-content: space-between;
}

#indicator #type .score {
    margin-right: 10px;
    color: #64b000
}

.card h6 {
    margin: 0;
}

.player {
    padding: 5px;
    border-radius: 5px;
    background: #eaecee;
    transition: all 0.2s;
}

.player:hover {
    background: #64b000;
}

#indicator .player:hover>* {
    color: white
}

.player h6 {
    color: #151515;
}

/* ************************************* */

#play {
    padding: 50px 40px;
}

#play .pic {
    height: 180px;
    overflow: hidden;
    background: #900;
}

#play .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

#play .pic img:hover {
    transform: none;
    transition: transform 0.5s ease-in-out;
}

#play .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#play .info {
    padding: 15px 20px 25px;

}

#play .detail {
    display: flex;
    flex-direction: column;
}

#play .title {
    font-size: 13px;
    font-weight: 700;
}

#play .date {
    padding: 10px 0;
}

#play .date {
    color: #9b9b9b;
    font-size: 10px;

}

#play .date i {
    color: #9b9b9b;
    margin-right: 10px;
}

#play .scores {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 5px;
}

#play .score {
    background: #eaecee;
    width: 31%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
}

#play .score:hover {
    background: #64b000;
}

#play .scores .score:hover>* {
    color: white
}

#play .score .num {
    color: #151515;
    font-weight: normal;
    font-size: 10px;
}

#play .score .detail {
    font-size: 10px;
    font-weight: 700;
}

/*  */
@media (min-width:576px) {

    .container {
        width: 510px;
    }

    #select-btn {
        display: none
    }

    #select-list {
        opacity: 1;
        display: block;
        width: 100%;
        height: 281px;
    }

    #select-ul {
        border: 0;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        background: transparent;
    }

    #content #middleLine {
        margin: 30px 0;
        width: 100%;
        height: 1px;
        background: rgb(105, 105, 105);
    }

    #select-ul>li {
        border-left: 1px solid rgb(114, 114, 114);
        box-sizing: content-box;
        margin: 0;
        width: calc(20% - 1px);
        height: 80px;
        padding: 25 10;
        background: transparent;
        flex-direction: column;
    }

    #select-ul>li:nth-child(1),
    #select-ul>li:nth-child(7) {
        border-left: none;
    }


    #select-ul .img {
        margin-bottom: 12px;
        display: initial;
    }

    #select-ul p {
        margin: 0;
    }

    /*  */
    .card ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .card li {
        padding: 4px 0 2px;
        width: 120px;
        margin: 15px 0 0 0;
    }

    .card li:nth-child(1) {
        width: 25px;
    }

    .card li:nth-child(2) {
        width: calc(100% - 65px);
        padding-right: 90px;
        margin: 5px 0 0 0
    }

    .card li:nth-child(6) {
        line-height: 43px;
    }

    #play .detail {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width:768px) {
    .container {
        width: 690px;
    }




    
    /*  */
    #type .card{
        padding: 7px 0;
    }
    #type .card ul {
        padding: 0;
        align-items: center;
    }

    #type .card li {
        width: 100px;
        margin: 0;
    }
    #type .card li:nth-child(1) {
        width: 60px;
    }
    #type .card li:nth-child(2) {
        width: 180px;
        margin-right: 20px;
        padding: 0;
        border-right: 1px solid #ccc;
        /* height:32px; */
    }
    #type .info *{
     font-size: 12px;
    }

    /*  */
    #play {
        display: flex;
        padding: 50px 0px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #play .card {
        width: 48%;
    }



    #play .card .info span {
        font-size: 10px;

    }
}

@media (min-width:1200px) {}