/* initialize----------------------------- */
body {
  margin: 0;
}

* {
  letter-spacing: 0.05em;
  box-sizing: border-box;
  font-family: "Kanit", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
.carousel-items h1,
.carousel-items h3 {
  color: white;
  text-decoration: none;
}

button {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  background: #edeff4;
}

/*  */
#top {
  width: 100%;
  height: 56px;
  background: #2a2a2a;
  display: flex;
  position: fixed;
  z-index: 10;
  align-items: center;
}

.hide {
  display: none;
}

#top button {
  width: 46px;
  height: 46px;
}

#top label {
  width: 46px;
  text-align: center;
}

#top>label i {
  font-size: 30px;
  color: #b7b7b7;
}

#nav:checked~#nav-bar {
  transform: translateX(-101%);
}

#user:checked~.more {
  transform: rotateX(90deg);
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}

i {
  color: #b7b7b7;
  font-size: 30px;
}

#top .info {
  margin-left: auto;
}

#top .info td {
  padding: 10px;
}

#top a {
  font-size: 12px;
  font-weight: 500;
}

#top .more i {
  font-size: 25px;
}

#top .more {
  position: absolute;
  left: 0;
  top: 56px;
  width: 100%;
  height: 55px;
  padding: 15px;
  background: #383838;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform-origin: top;
  transition: all .5s;
}

#top select {
  background: #383838;
  border: none;
  color: rgb(204, 204, 204);

}

#top .reg {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  padding: 0 20px 0 20px;
  margin: 0 20px 0 20px;
  height: 20px;
  line-height: 0;
}

#top .more button {
  height: 100%;
  width: 100px;
  font-size: 12px;
  border-radius: 5px;
  background: rgb(100, 176, 0);
}

#top .more .login {
  font-size: 20px;
  color: rgb(100, 176, 0);
  transition: color 0.3s;
}

#top .more .login span {
  margin-left: 10px;
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  transition: color 0.3s;
  display: none
}

#top .more .login:hover {
  color: #fff;
  transition: color 0.3s;
}

#top .more .login:hover span {
  color: rgb(100, 176, 0);
  transition: color 0.3s;
}

/* ----------左方選單區-------------- */
#nav-bar {
  position: fixed;
  z-index: 10;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  top: 56px;
  left: 0;
  background: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 4px solid rgb(167, 255, 52);
  transition: transform 0.3s;
}

#nav-bar::-webkit-scrollbar {
  width: 0;
}

#menu-up {
  text-align: center;
  width: 100%;
}

#menu-up img {
  width: 40%;
  height: auto;
  margin: 20px 0 20px 0;
}

#search {
  height: 50px;
  background: #484848;
  line-height: 50px;
  width: 280px;
  margin: 20px 10px;
}

#search input {
  width: 80%;
  background: rgba(0, 0, 0, 0);
  border: none;
  font-weight: 600;
}

#search i {
  font-size: 20px;
}

#menu-down {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#menu-down>div {
  width: 100%;
  height: 52px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 5px;
}

#menu-down button {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0 20px 0 20px;
  font-size: 15px;
  color: #ccc;
}

#menu-down>div:first-child button {
  background: rgb(100, 176, 0);
  color: #fff;
}

#menu-down>div:hover button {
  background: rgb(100, 176, 0);
  color: #fff;
  transition: all 0.15s ease-in-out;
}

#menu-down .pages {
  display: flex;
  justify-content: space-between;
}

#menu-down .down {
  width: auto;
}

#menu-down .down i {
  font-size: 10px;
}

#menu-down .share {
  display: flex;
  padding: 0 20px 0 5px;
  height: 120px;
}

#menu-down .share div {
  margin: 0 10px;
}

#menu-down .share i {
  font-size: 15px;
  color: #eee;
}

/* ------------------------------carousel--------------------------- */
#carousel {
  margin-top: 56px;
  position: relative;
  overflow: hidden;
}

.carousel-items {
  height: 331px;
}

.carousel-item {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#carousel .c1 {
  background: url('https://livedemo00.template-help.com/wt_prod-19186/images/slider-1-slide-1-1920x671.jpg') no-repeat left center/ cover;
}

#carousel .c2 {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  background: url('https://livedemo00.template-help.com/wt_prod-19186/images/slider-1-slide-2-1920x671.jpg') no-repeat left center/ cover;
}

#carousel .c2 .carousel-caption {
  opacity: 0;
  pointer-events: none;
}

.carousel-caption {
  position: relative;
  padding: 0 0 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#carousel h1 {
  margin-top: 0;
}

#carousel h3 {
  margin: 0 0 30px 0;
  font-weight: 500;
}

.carousel-item button {
  border: 2px solid white;
  padding: 14px 32px;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s;
}

.carousel-item button:hover {
  border: 2px solid #64b000;
  background: #64b000;
  transition: all 0.3s;
}

#carousel .sidebutton {
  display: none;
}

#carousel .sidebutton>button {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 66px;
  height: 50px;
  transform: skew(10deg, 0deg);
  background: #484848;
  text-align: center;
  transition: background 0.4s;
}

#carousel .sidebutton>button:hover {
  background: #64b000;
  transition: background 0.4s;
}

#carousel .sidebutton>button.prev {
  left: -10px;
}

#carousel .sidebutton>button.next {
  right: -10px;
}

#carousel .sidebutton>button i {
  line-height: 50px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transform: skew(-10deg, 0deg);
}

/*  */
#carousel .indicator {
  position: absolute;
  width: 100%;
  bottom: 25px;
  display: flex;
  justify-content: center;
}

#carousel .indicator>label {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  background: white;
  border-radius: 50%;
  position: relative;
}

#carousel .indicator>label:hover {
  background: #64b000;
  transition: all 0.3s;
}

#carousel .indicator>label::after {
  position: absolute;
  transition: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 27px;
  height: 27px;
  /* 待轉移 */
  border-radius: 50%;

}


#indicator-one:checked~.indicator>.one {
  background: #64b000;
}

#indicator-two:checked~.indicator>.two {
  background: #64b000;
}

/* 切換頁面區 */
#indicator-two:checked~.carousel-items .c2 {
  opacity: 1;
  pointer-events: auto;
}

#indicator-two:checked~.carousel-items .c2 .carousel-caption {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 3s ease-in;
}

#indicator-one:checked~.indicator>.one::after {
  border: 1px white solid;
}

#indicator-two:checked~.indicator>.two::after {
  border: 1px white solid;
}



/* rwd */

@media (min-width:768px) {
  #carousel .carousel-item {
    flex-direction: row-reverse;
  }

  #carousel .carousel-caption {
    margin-right: 100px;
  }

  #carousel .carousel-items {
    height: 417px;
  }

  /*  */

  .carousel-item::before {
    background-color: transparent;
  }

  /* 差側邊按鈕 */
  #carousel .indicator {
    display: none;
  }

  #carousel .sidebutton {
    display: initial;
  }

  /*  */
  #carousel .carousel-item {
    background-position: 66% center;
  }

  #carousel .carousel-caption {
    width: 270px;
  }
}


@media (min-width:1200px) {
  #top {
    position: relative;
    justify-content: center;
  }

  #top>label {
    display: none
  }

  #top .info {
    width: 300px;
    margin-left: 30px;
  }

  #nav-bar {
    transition: none;
    height: auto;
    display: block;
    position: relative;
    top: 0;
    width: 100vw;
    overflow: hidden;
  }

  #nav:checked~#nav-bar {
    transform: none;
  }

  #top .more {
    margin-left: 545px;
    position: initial;
    width: 500px;
    background: transparent;
    transition:none;
  }

  #user:checked~.more {
    transition:none;
    transform: none;
    opacity: 1;
    pointer-events: initial;
  }

  #top .more .login span {
    display: initial
  }

  /*  */
  #menu-up {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu-up img {
    width: 20%;
    margin-right: 350px;
  }

  #search {
    margin-left: 250px;
    width: 350px;
  }


  #menu-down {
    height: 68px;
    background: #1a1a1a;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  #menu-down>div {
    width: auto;
    height: 100%;
    margin-bottom: 0;
    margin-right: 10px;
  }

  #menu-down>div button {
    font-size: 13px;
  }

  #menu-down>div:first-child button {
    background-color: #1a1a1a;
    color: #64b000
  }

  #menu-down>div:hover button {
    background-color: #1a1a1a;
    color: #64b000;
    transition: all 0.2s;
  }

  #menu-down .share {
    margin-left: 150px;
    height: 100%;
  }

  #menu-down .share>div {
    line-height: 68px;
  }

  /*  */
  #carousel {
    margin-top: 0;
  }
}